{% extends "layout.html.twig" %}

{% block title %}
    Inscription
{% endblock %}

{% block content %}

        <div class="container inscription">
            <div class="row">

                    <h2>Inscription</h2>

                    {{ form( form, { attr: {novalidate: 'novalidate' } } ) }}


            </div>
        </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}