{% extends "layout.html.twig" %}

{% block title %}
    Modification
{% endblock %}

{% block content %}

    <div class="container modification">
        <div class="row">

            <h2>Modifier Mon Profil</h2>

            {{ form( form, { attr: {novalidate: 'novalidate' } } ) }}

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}