{% extends 'base.html.twig' %}

{% block body %}
    <form  class="form-signin" action="{{ path('login') }}" method="POST">
        <h2 class="form-signin-heading">Veuillez vous connecter </h2>

        <input type="email"
               class="form-control"
               id="_email"
               name="_email"
               placeholder="Votre email"
               required
               autofocus>
        <input type="password"
               class="form-control"
                id="_password"
                name="_password"
               placeholder="Votre mot de passe"
               required>

        <button class="btn btn-lg btn-primary btn-block" type="submit"> Se connecter </button>
    </form>

{% endblock %}
