<!doctype html>
<html lang="fr">
<head>
    <!-- Rajout des méta pour le référencement-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Site de vente en ligne de produits naturels cosmétiques et ménagers.
                    Ecologique, respectueux de votre santé et de l'environnement. Prendre soin de son corps en réduisant l'impact sur la planete" />
    <meta name="keywords" content="Produits naturels, bio, eco-responsable, environnement, planete, santé" />
    <meta name="author" content="François" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title '' %}</title>
    {% block stylesheets '' %}
</head>
<body>
{% block body '' %}
{% block javascripts '' %}
</body>
</html>
