
<!-- footer starts here -->
<footer class="footer clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 footer-para">
                <p>&copy; <a href="https://www.freshdesignweb.com">ElaNature.fr</a> All right reserved</p>
            </div>

            <div class="col-xs-6 text-right">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-pinterest"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>