{% extends "layout.html.twig" %}

{% block title %}
    Ajouter un article

{% endblock %}

{% block content %}
    <div class="container">

            <h1>Rédiger un Article</h1>
            {{ form( form, { attr: { novalidate: 'novalidate' } } ) }}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'form[description]' );
    </script>

{% endblock %}